.social__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.social__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}
