.header {
  box-shadow: var(--box-shadow);
}
.navbar {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.nav__left,
.nav__center,
.nav__right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: var(--color-body);
}
.nav__toggler {
  display: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-icon {
    cursor: pointer;
  }
  .toggle-icon div {
    width: 2.7rem;
    height: 0.2rem;
    margin: 0.5rem 0rem;
    background: var(--color-text);
    transition: 0.5s ease;
  }
  .nav__left,
  .nav__right,
  .nav__toggler {
    z-index: 20;
  }
  .nav__center {
    height: auto;
    position: fixed;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 10;
    transform: translateY(-100%);
    transition: 0.5s ease;
  }
  .nav-menu {
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .nav-collapse {
    transform: translateY(0);
    box-shadow: var(--box-shadow);
  }
}
.btnToggle .toggle-icon-1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.btnToggle .toggle-icon-2 {
  opacity: 0;
}
.btnToggle .toggle-icon-3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
