@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary: #699cfc;
  --color-secondary: #5b93fc;
  --color-body: #d6d6d6;
  --color-text: #333;
}

[data-theme="dark"] {
  --color-body: #363636;
  --color-text: #ddd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-body);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

button {
  color: #fff;
  border: none;
  height: 50px;
  padding: 0px 25px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--color-primary);
}

button:hover {
  transition: 0.5s ease;
  background: var(--color-secondary);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
